.checkout-container {
    display: flex;
    flex-direction: row;
}

.checkout-info {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-cart {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
