.profile-container {
    display: flex;
    flex-direction: row;
}

.dp {
    height: 300px;
    border-radius: 150px;
}

.dashboard-container {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listing-container {
    display: flex;
    flex-direction: column;
}